
<!-- Side navigation -->
<div class="sidenav">
  <h1>Sip</h1>
  <%= link_to "Home", root_path%>
  <a href="https://www.google.de/" target="_blank">Search</a>
  <%= link_to "Add", new_cocktail_path%>

<!-- footer -->
<div id="footer-box">
  <div class="footer-links">
      <a href="https://github.com/MrBeamer" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/theweekendmixologist/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
</div>

<!-- card section -->
<div class="main">
  <div class="cards">
<% @cocktails.each do |cocktail| %>
<% if cocktail.photo.attached? %>
<% background_url = cl_image_path cocktail.photo.key, width: 500, height: 600, crop: :fill %>
<% else %>
<% background_url = 'https://images.unsplash.com/photo-1570204865352-934c744d682c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'%>
<% end %>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
    <%=  link_to cocktail.name, cocktail_path(cocktail)%>
          <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Delete this cocktail?' } do %>
    <i class="fas fa-times"></i>
    <% end %>
  </div>

<% end %>
</div>
</div>




