<div id="form-box">
 <div id="form-cocktail" >
  <h1>Add a Cocktail</h1>
   <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: "btn-form" %>
  <% end %>
  <div class="link-to">
    <%= link_to "Back to all Cocktails", cocktails_path %>
  </div>
</div>
</div>



