<div class="detail-box" >
  <% if @cocktail.photo.attached? %>
    <%= cl_image_path @cocktail.photo.key, height: 200, crop: :fill,  class: "detail-image" %>
    <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80",  class: "test"%>
    <% end %>
</div>

  <p>
    <strong>
       <h1> <%= @cocktail.name %> Cocktail Recipe: </h1>
    </strong>
  </p>
  <% @cocktail.doses.each do |dose| %>
    <ul>
      <li><%= dose.ingredient.name %> - <%= dose.description %> - <%= link_to 'Delete', dose_path(dose.id), method: :delete %>

      </li>
    </ul>
  <hr>
  <% end %>

  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %> <br>
  <%= link_to "Back to all Cocktails", cocktails_path %>

